#Okno {
	height: 3700px;
	width: 1200px;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 5px;
	margin-left: auto;
	border: 10px solid #666;
	background-color: #999;
	color: #FFF;
	font-size: 36px;
	font-family: Time New Cambria, Times, "Times New Roman", serif, Helvetica, sans-serif;
	text-transform: none;
}
#Okno #ФАФ {
	margin-left: 100px;
}
#Okno ul #ФСФ {
	margin-top: 20px;
}
#Okno div p {
	font-family: Times New Roman, Times, serif;
}
#Okno div {
	font-family: Times New Roman, Times, serif;
}
#Okno div p {
	font-family: Times New Roman, Times, serif;
}
#Okno div p {
	font-family: Times New Roman, Times, serif;
}
